@media only screen and (max-width: 1370px){
    html{
        font-size: 9px;
    }
    section{
        padding: 17rem 0 17rem 0;
    }
    .features-box{
        padding: 3rem;
    }
    .person{
    height: 17rem;
    left: 65%;
    top:17rem; 
    }
    .beach{
        width: 33rem;
        left: 17%;
    }

    .ocean{
        width: 23rem;
        left: 60%;
    }
    .waterfall{
        width: 32rem;
        left: 4%;
    }
    footer{
    padding: 5rem 5rem;
    }
}
@media only screen and (max-width: 1155px){
    section{
        padding: 15rem 0 15rem 0;
        padding-bottom: 18rem;
    }
    .features-box{
        padding: 2rem;
    }
    h2{
        margin-top: -5rem;
    }
    .section-subscribe h2{
        width: 65%;
    }
    .col:not(:last-child) {
    margin-right: 5rem;
    }
    .nav-topic {
    left: 50rem;
    }

    .nav-1-line a:link,
    .nav-1-line a:visited,
    .nav-2-line a:link,
    .nav-2-line a:visited,
    .nav-3-line a:link,
    .nav-3-line a:visited{
        display: block; 
    }
    .nav-1-line,
    .nav-2-line,
    .nav-3-line{
        top: 0;
        left: 0;
    }
}